body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 auto;
	position: relative;
	width: 960px;
	background-color: #fff;
	color: #000;
}

text {
	font: 10px sans-serif;
}

.tooltip {
  line-height: 1;
  padding: 8px;
  font-size: 12px;
  width:136px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 5px;
}

/* Creates a small triangle extender for the tooltip */
.tooltip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 15px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.6);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.tooltip.n:after {
  margin: -3px 0 0 0;
  top: 100%;
  left: 0%;
}

.tip-year, .tip-date, .tip-week, .tip-level, .tip-rain, .tip-fase {
	float: left;
	width: 120px;
	height: 20px;
	text-align: left;
	line-height: 20px;
	text-shadow: 1px 1px 4px rgba(0,0,0,0.3);	
}

.tip-level, .tip-rain, .tip-fase {
	clear: left;
}

.tip-year {
	font-size: 40px;
	line-height: 40px;
	height: 40px;
	width: 70px;
	font-weight: bolder;
	letter-spacing: -0.1em;
	text-align: center;
}

.tip-date, .tip-week {
	width: 40px;
	padding-left: 15px;

}

.tip-date {
	font-size: 11px;
	font-weight: bolder;
	letter-spacing: -0.05em;
}

.tip-week {
	font-size: 9px;
	text-align: left;
	letter-spacing: 1.1em;
	font-weight: lighter;
	text-transform: uppercase;
}

.tip-level, .tip-rain {
	font-size: 13px;
	color:#F8F1DB;
}

.tip-level strong, .tip-rain strong {
	font-size: 11px;
	color:#FFF;
}

.tip-fase {
	font-size: 10px;
	color:#F8F1DB;
	text-align: center;
}

.legend-box {
	fill: none;
}


.rain .arc path, .river .arc path {
	opacity: 1;
}

.rain .arc:hover path, .river .arc:hover path {
	opacity: 0.5;
}


/****  Fases ****/
.phasearc {
	opacity: 0.5;
	color:#FFF;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}

.phasearc:hover {
	opacity: 1;
}

.label {
	font-weight: bold;
	text-shadow: 1px 1px 4px rgba(0,0,0,0.25);	
	letter-spacing: 0.03em;    
}

.phases .arc .label {
	opacity: 0;
}

.phases .arc:hover .label {
	opacity: 1;
}

.months .arc .label {
	opacity: 0.5;
}

.months .arc:hover .label {
	opacity: 1;
}

/* * * Fases * * */

.ahsitaro { fill: #DEE6B1; }



.ure-kuma {	fill: #DB5723; }

.use-kuma { fill: #D87930; }

.mere-kuma { fill: #D59A3E; }

.wamu-kuma { fill: #D2BC4B; }

.kare-kuma { fill: #CFDD59; }

.sararo-kuma { fill: #CCFF66; }




.nokoatero { fill: #6856A8; }

.wai-kahsa { fill: #2F43A0; }

.sio-yahpu { fill: #534FA5; }

.sio-yahpu-wahtidhiaro { fill: #534FA5; }



.ana { fill: #94FF78; }

.ana-pihkoro { fill: #5CFF4A; }

.ana-siokha { fill: #CCFFA5; }

.ana-ohpu { fill: #94FF78; }

.ana-dieripa { fill: #94FF78; }



.hia-kuma, .nia-kuma { fill: #FFC17B; }

.hia-utaphea-keose-kuma { fill: #FFB88E; }

.hia-yunari-kuma { fill: #FFAEA2; }

.hia-diara-kuma { fill: #FFA6B2; }



.yai { fill: #FFF775; }

.yai-siokha { fill: #FFF890; }

.yai-ohpu { fill: #FFF890; }


.pamo { fill: #F6B288; }

.pamo-oaduhka { fill: #F0C4A1; }



.bihpia { fill: #E0F0CC; }

.namia-e-bihpia { fill: #8EA9BF; }



.yhe { fill: #F2EAB8; }

.yhe-pehtiro { fill: #DBD5A9; }



.dahsiu { fill: #FACABB; }

.muha { fill: #CDFABB; }

.yurara { fill: #9DA372; }

.sipe-phairo { fill: #ABCFED; }

.yurara { fill: #9DA372; }

.wuru-numuri { fill: #9DA372; }