body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 auto;
	position: relative;
	width: 960px;
	background-color: #fff;
	color: #000;
}

text {
	font: 10px sans-serif;
}


/****  Fases ****/
.phasearc {
	opacity: 0.5;
	color:#FFF;
}

.phasearc:hover {
	opacity: 1;
}

.label {
	opacity: 0.3;
}

.phasearc:hover .label {
	opacity: 1;
}


#ahsitaro {
	fill: #FFE680;
}

#nia-kuma {
	fill: #FFC285;
}

#ana {
	fill: #F0FFC2;
}

#ana-pihkoro {
	fill: #E0FF85;
}

#ana-siokha {
	fill: #D6FF5C;
}

#bihpia {
	fill: #A3C266;
}

#dahsiu {
	fill: #FFCCCC;
}

#hia-diara-kuma {
	fill: #B2F0FF;
}

#hia-kuma {
	fill: #80E6FF;
}

#hia-utaphea-keose-kuma {
	fill: #4DDBFF;
}

#hia-yunari-kuma {
	fill: #19D1FF;
}

#kare-kuma {
	fill: #00B8E6;
}

#mere-kuma {
	fill: #008FB2;
}

#muha {
	fill: #B8B8FF;
}

#nia-kuma {
	fill: #FFB2FF;
}

#nokoatero {
	fill: #C285C2;
}

#pamo {
	fill: #F3DAE6;
}

#pamo-oaduhka {
	fill: #C0A7B3;
}

#sararo-kuma {
	fill: #C2D6FF;
}

#sio-yahpu {
	fill: #A3C2FF;
}

#ure-kuma {
	fill: #B2FFFF;
}

#wai-kahsa {
	fill: #FFE0E0;
}

#wamu-kuma {
	fill: #CCA3A3;
}

#yai {
	fill: #FFE0A3;
}

#yhe {
	fill: #FFB2B2;
}

#yurara {
	fill: #FFE6E6;
}