body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 auto;
	position: relative;
	width: 960px;
	background-color: #fff;
	color: #000;
}

text {
	font: 10px sans-serif;
}

.tooltip {
  line-height: 1;
  padding: 8px;
  font-size: 12px;
  width:136px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 5px;
}

/* Creates a small triangle extender for the tooltip */
.tooltip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 15px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.6);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.tooltip.n:after {
  margin: -3px 0 0 0;
  top: 100%;
  left: 0%;
}

.tip-year, .tip-date, .tip-week, .tip-level, .tip-rain, .tip-fase {
	float: left;
	width: 120px;
	height: 20px;
	text-align: left;
	line-height: 20px;
	text-shadow: 1px 1px 4px rgba(0,0,0,0.3);	
}

.tip-level, .tip-rain, .tip-fase {
	clear: left;
}

.tip-year {
	font-size: 40px;
	line-height: 40px;
	height: 40px;
	width: 70px;
	font-weight: bolder;
	letter-spacing: -0.1em;
	text-align: center;
}

.tip-date, .tip-week {
	width: 40px;
	padding-left: 15px;

}

.tip-date {
	font-size: 11px;
	font-weight: bolder;
	letter-spacing: -0.05em;
}

.tip-week {
	font-size: 9px;
	text-align: left;
	letter-spacing: 1.1em;
	font-weight: lighter;
	text-transform: uppercase;
}

.tip-level, .tip-rain {
	font-size: 13px;
	color:#F8F1DB;
}

.tip-level strong, .tip-rain strong {
	font-size: 11px;
	color:#FFF;
}

.tip-fase {
	font-size: 10px;
	color:#F8F1DB;
	text-align: center;
}

.legend-box {
	fill: none;
}


.rain .arc path, .river .arc path {
	opacity: 1;
}

.rain .arc:hover path, .river .arc:hover path {
	opacity: 0.5;
}


/****  Fases ****/
.phasearc {
	opacity: 1;
	color:#FFF;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}

.phasearc:hover {
	opacity: 0.5;
}

.label {
	font-weight: bold;
	text-shadow: 1px 1px 4px rgba(0,0,0,0.25);	
	letter-spacing: 0.03em;    
}

.phases .arc .label {
	opacity: 0;
}

.phases .arc:hover .label {
	opacity: 1;
}

.months .arc .label {
	opacity: 0.5;
}

.months .arc:hover .label {
	opacity: 1;
}

.menu {
	list-style: none;
	width: 960px;
	height: 60px;
	margin: 20px auto;
}

.menu li {
	width: 210px;
	float: left;
	text-align: center;
}

/* * * Fases * * */

.ahsitaro { fill: #FFD369; }



.ure-kuma {	fill: #E19724; }

.use-kuma { fill: #BE8A62; }

.mere-kuma { fill: #D49A3E; }

.wamu-kuma { fill: #D2BC4A; }

.kare-kuma { fill: #E1D52B; }

.sararo-kuma { fill: #E8E048; }




.nokoatero { fill: #6F5872; }

.wai-kahsa { fill: #39487B; }

.sio-yahpu { fill: #39487B; }

.sio-yahpu-wahtidhiaro { fill: #4F4774; }



.ana { fill: #A1AE77; }

.ana-pihkoro { fill: #B4BA8E; }

.ana-siokha { fill: #BBCA85; }

.ana-ohpu { fill: #818A60; }

.ana-dieripa { fill: #6E735D; }



.hia-kuma, .nia-kuma { fill: #F9A975; }

.hia-utaphea-keose-kuma { fill: #FBB78E; }

.hia-yunari-kuma { fill: #F79D93; }

.hia-diara-kuma { fill: #F9B6A5; }



.yai { fill: #7D9C80; }

.yai-siokha { fill: #8FB293; }

.yai-ohpu { fill: #647F69; }


.pamo { fill: #978570; }

.pamo-oaduhka { fill: #CBB9A2; }



.bihpia { fill: #C7D5B8; }

.namia-e-bihpia { fill: #8EA9BE; }



.yhe { fill: #ABB799; }

.yhe-pehtiro { fill: #ABB799; }



.dahsiu { fill: #B3938A; }

.muha { fill: #688C85; }

.yurara { fill: #909669; }

.sipe-phairo { fill: #ABCEEC; }

.wuru-numuri { fill: #909669; }